@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

.register {
  font-family: 'Roboto', sans-serif;
  width: 450px;
  height: 550px;
  background-color: #d985af;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
  margin-top: 30px;
}
.register__group {
  margin: 10px;
}
.register__group label {
  display: inline-block;
  width: 200px;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
.register__group input {
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 18px;
  color: #d985af;
}
.register__group input::placeholder {
  color: rgba(3, 3, 3, 0.458);
  font-style: italic;
  font-size: 16px;
}
.register .register__btn {
  padding: 10px;
  color: #333;
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 230px;
  position: relative;
}
.register .register__btn:hover {
  background-color: #13230d;
  color: #fff;
  transition: 0.5s ease;
}
.register h2 {
  text-align: center;
  color: #fff;
  font-size: 28px;
  position: relative;
}
.register h2::before,
.register h2::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.55s ease;
  opacity: 0;
}
.register h2::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #3e8914;
  border-right: 3px solid #2e640f;
  transform: translate(-100%, 50%);
}
.register h2::after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2e640f;
  border-left: 3px solid #3e8914;
  transform: translate(100%, -50%);
}
.register h2:hover::before,
.register h2:hover::after {
  transform: translate(0, 0);
  opacity: 1;
}
.register h2:hover {
  color: #13230d;
  transition: all 0.5s ease;
}
.register p {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.register .login__btn {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  color: #333;
  background-color: #fff;
  cursor: pointer;
}
