.modal {
  width: 600px;
  margin: 0 auto;
  min-height: 60vh;
  background-color: rgb(215, 225, 229);
  text-align: left;
  border-radius: 5px;
  padding: 20px;
  position: relative;
}

.modal .close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #333;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.15s;
}

.modal .close-modal:hover {
  background-color: #333;
  color: white;
}

.modal .modal-navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal .modal-navigation-item:hover {
  cursor: pointer;
  opacity: 0.7;
}

.modal .video-input input {
  font-family: "Roboto", sans-serif;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  width: 100%;
}

.modal .video-input .span-text {
  font-size: 14px;
  color: #333;
}

.modal button {
  margin-top: 10px;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  opacity: 0.8;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal input {
  padding: 5px 10px;
}

@media screen and (max-width: 900px) {
  .modal {
    width: 90%;
  }
  
}
