/* .window {
  background-color: transparent;
  border: 1px solid rgb(101, 100, 100);
  border-radius: 2px;
  flex-grow: 1;
  flex-basis: 25%;
  max-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  position: relative;
}

.window .day {
  color: #333;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
}

.window .icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: 700;
  color: #000000;
}

.window .icon-box:hover,
.window .preview-icon:hover {
  cursor: pointer;
  color: pink;
}

.window .preview-icon {
  position: absolute;
  top: 10px;
  right: 10px;
} */



.window {
  position: relative;
  width: 150px;
  height: 150px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
  margin: 10px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  opacity: 0.7;
}

.open_door {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: transparent;
  margin: 10px;
  transition: transform 0.5s ease-in-out;
}

.window:hover {
  transform: perspective(100px) rotateY(-10deg) scaleX(0.7);
  transform-origin: left;
}

.window:not(:hover) {
  transition: transform 0.8s ease-in-out;
  transform: perspective(100px) rotateY(0deg);
  transform-origin: left;
}

.day {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  cursor: pointer;
}

.icon-box {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  cursor: pointer;
}

.preview-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.preview-icon svg {
  font-size: 24px;
}

.window .icon-box:hover,
.window .preview-icon:hover,
.window .day:hover{
  cursor: pointer;
  color: pink;
}