.window {
  background-color: transparent;
  border: 1px solid rgb(101, 100, 100);
  border-radius: 2px;
  flex-grow: 1;
  flex-basis: 25%;
  max-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  position: relative;
 
}

.window .day {
  color: #333;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
}

.window .icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #666;
}

.window .icon-box:hover,
.window .preview-icon:hover {
  cursor: pointer;
  color: pink;
}

.window .preview-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
